<html>
    <body bgcolor="yellow" text="black">
        <form action="post">
            USERNAME : <br><input type="text" name="USERNAME" placeholder="enter username"><br><br>
            EMAIL : <br><input type="email" name="EMAIL" placeholder="enter email"><br><br>
            PASSWORD : <br><input type="password" name="PASSWORD" placeholder="enter password"><br><br>
            CONFIRM PASSWORD : <br><input type="password" name="PASSWORD" placeholder="enter password"><br><br>
            <input type="submit">
        </form>
    </body>
</html>