<html>
    <head>
        <title> PATIENT DETAILS </title>
    </head>
    <body bgcolor="yellow" text="blue">
        <center>
        <form>
            <h1> PATIENT DETAILS </h1>
            <h2>
                Firstname : {{p.fname}}<br><br>
                Lastname : {{p.lname}}<br><br>
                Phoneno : {{p.phoneno}}<br><br>
                Age : {{p.age}}<br><br>
                Join_date : {{p.J_date}}<br><br>
                Symptoms : {{p.symptoms}}<br><br>
                Prescription : {{p.prescription}}<br><br>
            </h2>
        </form>
        </center>
    </body>
</html>